body {
    margin: 0;
    height: 200vh;
    background-color: #e0dcdc;


    
}


::-webkit-scrollbar {
    width: 8px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(55, 209, 209);
    border-radius: 10px;
  }


nav {
    
    display: flex;
    justify-content: space-between;
    background-color: rgba(64,68,68, 0.5);
    padding: 1.1rem;
    height: max-content;
    position: fixed;
    width: 100%; 
}

.nv-title {
    white-space: nowrap;
    margin-top: 0;
    padding-left: 2rem;
    padding-bottom: 0;
    /* top: .5em; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'REM', sans-serif;
    color: white;
    font-size: 2em;
    box-sizing: border-box;
    top: .75rem;
   
}

.nv-right {
    /* position: relative; */
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    top: .85em;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    gap: 2em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'REM', sans-serif;
    position: relative;
    right: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    color: #ffffff83;
}

.nav-links li a span {
    transition: 0.5s;
}

.nav-links li a:hover .spanner:nth-child(1){
    margin-right: 10px; 
    font-size: 1.2em;
}

.nav-links li a:hover .spanner:nth-child(1)::after{
    content: "*";
}

.nav-links li a:hover .spanner:nth-child(2)::after{
    margin-left: 40px;
 
}

.nav-links li a:hover .spanner{
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
}


  /* Style the dropdown content (hidden by default) */


/* Style the links inside the dropdown */

#indeed {
    position: absolute;
    color: #000;
    overflow-y: auto;
    max-height: 200px;
    
    display: none;
    background-color: rgba(64,68,68, 0.5);
    max-width: 220px;
    margin: 0;
}


#indeed::-webkit-scrollbar {
    width: 8px;
}

#indeed::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

#indeed::-webkit-scrollbar-thumb {
    background: rgb(55, 209, 209);
    border-radius: 10px;
  }

#indeed ul li {
   
}




#API {
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-family: 'REM', sans-serif;
    margin-bottom: .75em;
    font-size: 15px;
    /* height: 300px; */
    padding-top: .65em;
    font-weight: 500;
    padding-left: 1em;
    color: rgb(55, 209, 209);

}



@media (max-width: 586px){
    nav {
        padding-right: 11rem;
        max-width: 586px;
        flex-direction: column;
        align-self: flex-start;
        padding-right: 0;
    }

    .nv-title {
        padding: 0;
    }

       
}

.empty-div {
    height: 120px;
}

.empty-div1 {
    height: 160px;
    display: none;
}




@media (max-width: 360px){
    .nv-right {
        max-width: 360px;
    }
    #indeed {
        bottom: 60px;
    }

}
    
@media (max-width: 420px){
    .empty-div {
        display: none;
    }

    .empty-div1 {
        display: block;
    }
}

@-webkit-keyframes slidein {
    from {background-position: top; background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
    }
    
    @keyframes slidein {
    from {background-position: top;background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
    
    }
    


.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: rgba(64,68,68, 0.5);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}


#top {
    top: -40px;
    left: -50%;
}

.repo-class:hover .tooltip-text {
    visibility: visible;
    
}

.repo-class:hover {
    font-size: 1.2em;
    color: rgb(43, 211, 211);
    font-weight: 700;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
    
}

.spannerCon:hover {
    font-size: 2em;
    color: rgb(43, 211, 211);
    font-weight: 700;
    text-shadow: 0 0 10px aqua,
                 0 0 20px aqua,
                 0 0 40px aqua,
                 0 0 80px aqua,
                 0 0 120px aqua,
}

.flow-container {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.row {
    height: 300px;
    width: 88%;
    margin: 2rem;
    padding: 0;
}